/* * {
  outline: red solid 2px;
} */
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #444444;
}
#personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
  height: 100%;
  width: 27%;
  background-color: #444444;
  flex: 0.25;
}

.pfp img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  border: #ededed solid 2px;
}

.links {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.links img {
  background-color: #ededed;
  border-radius: 50%;
  border: #ededed solid 1px;
}

#personal h1 {
  color: #ededed;
  margin: 0;
  padding: 0;
  font-size: 24px;
}
/* .info {
  width: 100%;
} */

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info-element {
  display: flex;
  color: #ededed;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  gap: 15px;
}

.info-element img {
  fill: #ededed;
  max-height: 24px;
  max-width: 24px;
  /* border-radius: 100%; */
}
/* 
.info-element p {
  width: 50%;
} */

#content {
  flex: 0.75;
  color: #ededed;
  background-color: #1c1c1c;
  border-radius: 25px 0px 0px 25px;
  height: 100vh;
  overflow-y: auto; /* Enable vertical scrollbar */
}

.scroll {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head1 {
  color: #04b4e0;
}

.animated {
  position: relative;
  font-size: 24px;
  padding-left: 5%;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  min-width: 60%;
  position: relative;
}

.animated-item {
  color: #04b4e0;
}

.animated-item {
  font-size: 26px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n + 2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n + 3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.about > p {
  color: #ededed;
  line-height: 1.11111;
  text-align: justify;
  padding-left: 5%;
}

.education {
  display: flex;
  flex-direction: column;
}

.education > h2,
h3,
h4,
ul {
  padding-left: 5%;
  margin: 0;
  margin-top: 2%;
}

.education > h3 {
  margin-top: 0;
}

.education > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
  padding: 0% 10%;
}

.g1,
.g2 {
  display: flex;
  gap: 10%;
  justify-content: center;
  flex-wrap: wrap;
}

.g1 {
  gap: 30%;
}
.g1 > li {
  justify-self: flex-start;
}

li {
  list-style-type: none;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects > h2,
p {
  padding-left: 5%;
}
.projects > h1,
h2 {
  margin-bottom: 0;
}
.projects > p {
  margin-top: 0;
}

.skills {
  width: 500px;
  /* margin: 60px auto; */
  color: #fff;
}

.skills li {
  margin: 20px 0;
  padding-left: 5%;
}

.bar {
  background-color: #353b48;
  display: block;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #04b4e0;
}

.bar span {
  height: 10px;
  float: left;
  background-color: #04b4e0;
}

.python {
  width: 90%;
  animation: python 2s;
}
.django {
  width: 75%;
  animation: django 2s;
}

.java {
  width: 85%;
  animation: java 2s;
}
.version {
  width: 95%;
  animation: version 2s;
}

.sql {
  width: 80%;
  animation: sql 2s;
}

.rdbms {
  width: 75%;
  animation: rdbms 2s;
}

.html {
  width: 80%;
  animation: html 2s;
}

.css {
  width: 70%;
  animation: css 2s;
}

.javascript {
  width: 50%;

  animation: javascript 2s;
}
@keyframes rdbms {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

@keyframes sql {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes version {
  0% {
    width: 0%;
  }

  100% {
    width: 95%;
  }
}

@keyframes java {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}

@keyframes django {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

@keyframes python {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }

  100% {
    width: 93%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}
